<div class="home-bg">
  <div class="container">
    <div class="row">
      <div class="col-7 ">

        <h3 class="h-title">
           <span style="text-align:center;display:block;margin-bottom: 50px;"> <img src="../../../assets/images/logo.png" style="width:120px"></span>
          " Better To Ask a Question Then To Remain Ignorant "</h3>
        <hr>
      </div>
      <div class="col-4 app-signIn">
        <h3 class="h-title-gt">Having issues? Generate A Ticket.</h3>
        <app-signin></app-signin>
      </div>

    </div>
  </div>
</div>